body {
  margin: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 80px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  max-width: auto;
  padding-left: 30px;
  flex-grow: 1;
  flex-shrink: 0;
}

.logo span {
  padding-left: 15px;
}

header nav {
  display: flex;
  padding-right: 40px;
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav a {
  color: black;
}

.main-content {
  display: flex;
  justify-content: center;
  /*border: 1px solid black;*/
}

.main-content .column-one {
  display: flex;
  width: 630px;
  /*border: 1px solid black;*/
  flex-direction: column;
  margin-top: 115px;
  justify-content: center;
}

/*.mainstory,
.story {
  border: 1px solid black;
}*/

.main-content .column-two {
  display: flex;
  width: 300px;
  /*border: 1px solid black;*/
  flex-direction: column;
  margin-top: 115px;
  margin-left: 30px;
}

.main-content .column-three {
  display: flex;
  width: 240px;
  /*border: 1px solid black;*/
  flex-direction: column;
  margin-top: 115px;
  margin-left: 30px;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.headline {
  color: white;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
}

.mainstory {
  display: flex;
  background-image: url(/Users/Annette/mytimes/resources/images/img-story-main.png);
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  flex-wrap: wrap;
  height: 300px;
  width: auto;
}

.story-imagetwo {
  display: flex;
  background-image: url(/Users/Annette/mytimes/resources/images/img-story-2.png);
  height: 300px;
  width: auto;
}

.story-imagethree {
  display: flex;
  background-image: url(/Users/Annette/mytimes/resources/images/img-story-3.png);
  height: 300px;
  flex-wrap: wrap;
}

.story-imagefour {
  display: flex;
  background-image: url(/Users/Annette/mytimes/resources/images/img-story-1.png);
  height: 300px;
  flex-wrap: wrap;
}

.bites {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.story .bites {
  margin: 0;
  border-bottom: 1px solid black;
  display: block;
  padding: 20px;
}

.footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .title {
  font-family: Georgia;
  font-size: 16px;
  height: 30px;
  font-weight: bold;
  color: white;
  border-right: 3px solid white;
  padding-right: 15px;
}
